NODE_ENV=development
# database
DB_URL="mongodb://azure.aws.gcp.aliyun.mongodb.net"
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
# cookie
JWT_SECRET=99831123
# Twitter
TW_CKEY=4444444
TW_CS=123123123
TW_AT="123-123"
TW_ATS=888888
# S3
S3_AKEY=123123
S3_AID=456456
S3_ENDPOINT="https://s3.nowhere.com"
S3_BUCKET=nowhere-asset
# MiPush
MIPUSH_KEY="R U OK?"
# Worker
WORKER_PORT=8912
WORKER_IP=127.0.0.1

